body,
button,
input,
select,
textarea {
	
}

   
h1, h2, h3, h4, h5, h6 {
	clear: both;
	line-height: 1.3;
	margin-bottom: 1em;
}

h1 {
	font-size: 38px;

}

h2 {
	font-size: 24px;
	text-transform: uppercase;
}
h3 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 32px;
}

h4 {
	font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    
}

p, ul li {
	font-size: 18px;
	line-height: 1.5em;
	a {
		color: #000;
		transition: all 0.3s ease-in-out;
		font-weight: 500;
		&:hover {
			color: #3caede;
		}
	}
}

p, ul {
	margin-bottom: 1.2em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}


code, kbd, tt, var {
	@include font-size(0.9375);
}

abbr, acronym {
	cursor: help;
}

mark, ins {
	text-decoration: none;
}

big {
	font-size: 125%;
}
a {
	

	&:visited {
		
	}
	&:hover,
	&:focus,
	&:active {
		
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

@media all and (max-width: 1200px){
	p, ul li {
		font-size: 18px;
		line-height: 1.5;
	}
	h2 {
    	font-size: 32px;
	}
}
@media all and (max-width: 800px){
	p, ul li {
		font-size: 16px;
		line-height: 1.5;
	}
	h2 {
    	font-size: 30px;
	}
}
@media all and (max-width: 480px){
	h2 {
    	font-size: 24px;
	}
}
/* Ripple In */
@-webkit-keyframes hvr-ripple-in {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes hvr-ripple-in {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
.hvr-ripple-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.btn {
	position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(0,0,0,0.3);
    font-size: 16px;
    padding: 10px 20px;
    &:before {
        content: '';
	    position: absolute;
	    border: #e1e1e1 solid 4px;
	    top: -12px;
	    right: -12px;
	    bottom: -12px;
	    left: -12px;
	    opacity: 0;
	    -webkit-animation-duration: 1s;
	    animation-duration: 1s;
	}
	&:hover {
		&:before {
		    -webkit-animation-name: hvr-ripple-in;
		    animation-name: hvr-ripple-in;
		}
	}
}

.entry-data {
	
}

.single-post {
	.page-header h1 {
		font-weight: bold;
		text-transform: none;
	}
	strong, a {
		font-weight: bold;
	}
	iframe {
		width: 100%;
	}
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  margin-bottom: 20px;
}
.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}